name: CI

on:
  push:
    branches: [main, ci-*]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
          submodules: recursive
      - uses: actions/setup-node@v5
        with:
          node-version: 20.x
      - run: npm install
      - run: npm run lint:format
      - run: npm run lint
  test:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['18', '20']
    name: Testing on node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
          submodules: recursive
      - name: Setup Node.js environment
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm run test
